body {
	background: grey;
	margin: 2%;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
	text-align: center;
}

.container{
	background: white;
	border: 2px solid black;
	border-radius: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	text-align: left;
}